absl-py==0.6.1
astor==0.7.1
beautifulsoup4==4.6.3
certifi==2018.4.16
chardet==3.0.4
Click==7.0
Flask==1.0.2
gast==0.2.0
grpcio==1.16.0
gunicorn==19.8.1
h5py==2.8.0
idna==2.6
itsdangerous==1.1.0
Jinja2==2.10
lxml==4.2.5
Markdown==3.0.1
MarkupSafe==1.1.0
protobuf==3.6.1
psycopg2==2.7.4
pytz==2018.4
requests==2.18.4
scipy==1.1.0
six==1.11.0
static3==0.7.0
termcolor==1.1.0
Werkzeug==0.14.1
