body{
	font-family: 'HG創英角ポップ体',"Hiragino Kaku Gothic ProN",sans-serif;
}
#obsspace{
	width:750px;
	height:200px;
	border-right:solid #808000;
	border-bottom:solid #808000;

}
.main{
	display: inline-block;
	margin:auto 15px;
}
#last_good{
	font-size: 55px;
}
#cur_good{
	font-size: 60px;
}
.arrows{
	font-size:40px;
	margin:auto 1px;
}
#arrow1{
	margin-left: 15px;
}
#arrow3{
	margin-right: 15px;
}
#thanks{
	font-size:45px;
	text-align: center;
}
#container{
	width:max-content;
	height:max-content;
	color: #F14D4D;
    text-shadow: 1px 1px #252206, 3px 3px rgba(241, 77, 77, 0.4);
    font-weight:bold;
    margin-top: 20px;
}
#goods{
    width: max-content;
    display: flex;
    margin:auto;
}
#image{
	width:60px;
	height:60px;
	margin:auto;
}